<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h3>Visit</h3>
    <ul>
      <li>
        <a href="/users">users</a>
      </li>
    </ul>
  </body>
</html>
