/* Basic editor styles */
.tiptap {
  position:relative;
	color:white;
  outline: none;
  background:rgba(53, 53, 53, 0.5);
  border:solid 1px rgb(162, 0, 255);
  border-radius:20px;
  padding:20px;
  min-height:70vh;
  max-height:70vh;
  min-width:70vw;
  overflow-y:scroll
}

/* .tiptap p{ 
  position:relative;
}

.tiptap p::before{ 
  content: "";
  position:absolute;
  height:10px;
  width:10px;
  background:purple;
  top:0;
  left:-5px;
  transform:translate(-100%,100%);
  border-radius:50%
} */

 .tiptap :first-child {
	 margin-top: 0;
}
 .tiptap ul, .tiptap ol {
	 padding: 0 1rem;
	 margin: 1.25rem 1rem 1.25rem 0.4rem;
}
 .tiptap ul li p, .tiptap ol li p {
	 margin-bottom: 0.25em;
}
 .tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5, .tiptap h6 {
	 line-height: 1.1;
	 margin-top: 2.5rem;
	 text-wrap: pretty;
}
 .tiptap h1, .tiptap h2 , .tiptap h3 {
	 margin-top: 3.5rem;
	 margin-bottom: 1.5rem;
}
 .tiptap h1 {
	 font-size: 2rem;
}
 .tiptap h2 {
	 font-size: 1.6rem;
}
 .tiptap h3 {
	 font-size: 1.4rem;
}
 .tiptap h4, .tiptap h5, .tiptap h6 {
	 font-size: 1rem;
}
 .tiptap code {
	 background-color: var(--purple-light);
	 border-radius: 0.4rem;
	 color: var(--black);
	 font-size: 0.85rem;
	 padding: 0.25em 0.3em;
}
 .tiptap pre {
	 background: var(--black);
	 border-radius: 0.5rem;
	 color: var(--white);
	 font-family: 'JetBrainsMono', monospace;
	 margin: 1.5rem 0;
	 padding: 0.75rem 1rem;
}
 .tiptap pre code, .tiptap code {
	 background: rgb(63, 63, 63);
	 color: inherit;
	 font-size: 0.8rem;
}
 .tiptap blockquote {
	 border-left: 3px solid gray;
	 margin: 1.5rem 0;
	 padding-left: 1rem;
}

.tiptap img, [data-youtube-video]{ 
  width: 60%;
  justify-self:center;
  margin:20px;
}

.tiptap .imported-image{ 
  max-height:20vh;
  height:auto;
  width:auto;
}


.custom-drag-handle {
  cursor: grab;
  width: 16px;
  height: 16px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/6/6b/Grab_icon.svg')
    no-repeat center center / contain;
  display: inline-block;
  margin-right: 8px;
}