@tailwind base;
@tailwind components;
@tailwind utilities;

body{ 
  background-image: url("./assets/background.png");
  background-attachment: fixed;
  overflow-x: hidden;
}

.registration-background{ 
  position:relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/registration-background.jpg");
  background-position:center;
  background-size:cover
}

ul{ 
  list-style-type: disc
}

img{ 
  user-select: none;
}

nav{ 
  margin-top:0rem
}

button{ 
  transition:0.2s
}

button:hover{ 
  cursor:pointer;
  transform: scale(1.1);
}

.scrollbar-disabled {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.scrollbar-disabled::-webkit-scrollbar {
  display: none; 
}

*::-webkit-scrollbar-button {
  display: none; 
}

*::-webkit-scrollbar {
  width: 8px; 
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9f7aea; 
  border-radius: 20px; 
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #805ad5; 
}

*::-webkit-scrollbar-track {
  background-color: transparent; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9f7aea transparent; 
}